# Ignorar todo por defecto
*

# Excepciones: Permitir archivos .py, .ipynb y .csv
!*.py
!*.ipynb
!*.csv
!*.xlsx
!*/
!*.keras

# Excepciones adicionales: Permitir el propio .gitignore y README.md (opcional)
!.gitignore
!README.md
!documentacion/Deep Learning*